@page "/stampcollection"

@using SlowlyStampCollection.Data
@using System.Linq
@inject StampCollectionService StampService

<h1>SLOWLY Stamp Collection</h1>
<hr>

<p>All the information you want and need to know about collecting stamps on SLOWLY app.</p>

@if (stamps == null)
{
    <p><em>Getting there...</em></p>
}
else
{
    <div>
        <p>
            Total: <strong>@stamps.Length</strong> stamps
            <ul>
                <li>
                    <strong>@stamps.Count(s => s.Category == 4)</strong> stamps in category Achievements
                </li>
                <li>
                    <strong>@stamps.Count(s => s.Category == 1)</strong> stamps in category Single Stamp
                </li>
                <li>
                    <strong>@stamps.Count(s => s.Category == 2)</strong> stamps in category Stamp Set
                </li>
                <li>
                    @*<strong>@stamps.Count(s => s.Category == 3)</strong> stamps in category Location Exclusive*@
                    <strong>@stamps.Count(s => s.Region != "global")</strong> stamps in category Location Exclusive
                </li>
                <li>
                    <strong>@stamps.Count(s => s.Category == 5)</strong> stamps in category Time Machine
                </li>
                <li>
                    <strong>@stamps.Count(s => s.Category == 0)</strong> stamps in category Other
                </li>
            </ul>
            @*Second paragraph
            <ul>
                @for (int i = 0; i < 6; i++)
                {
                    var stamp = @stamps.FirstOrDefault(s => s.Category == @i);
                    if (stamp != null)
                    {
                        if (stamp.Category == 3)
                        {
                            <li>
                                <strong>@stamps.Count(s => s.Region != "global")</strong>
                                stamps in category @stamp.CategoryName
                            </li>
                        }
                        else
                        {
                            <li><strong>@stamps.Count(s => s.Category == @i)</strong> stamps in category @stamp.CategoryName</li>
                        }
                    }
                }
            </ul>*@
        </p>
        Search: <input type="text" name="search" value="" />
    </div>
    <table class="table">
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Price</th>
                <th>Region</th>
                <th>Category</th>
                <th>Availability</th>
                <th>Title</th>
                <th>Description</th>
                <th>Difficulty*</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stamp in stamps)
            {
                <tr>
                    <td>
                        <a href="javascript:;" title="@stamp.Slug">
                            <img src="@stamp.Url" alt="@stamp.StampName" />
                        </a>
                    </td>
                    <td><img src="https://web.getslowly.com/static/media/coin.a380d373.png" height="16" alt="SLOWLY_COINS" />&nbsp;@stamp.Price</td>
                    <td>@stamp.Region</td>
                    <td>@stamp.CategoryName</td>
                    <td style="width:15%">@stamp.Availability</td>
                    <td style="width:15%">@stamp.Title</td>
                    <td style="width:20%">@stamp.Desc</td>
                    <td><p style="color:@stamp.DifficultyColor">@stamp.DifficultyName</p></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Stamp[] stamps;

    protected override async Task OnInitializedAsync()
    {
        stamps = await StampService.GetStampAsync();
    }
}
