@page "/stampcollection"

@using SlowlyStampCollection.Data
@using System.Linq
@inject StampCollectionService StampService

<h1>SLOWLY Stamp Collection</h1>
<hr>

<p>All the information you want and need to know about collecting stamps on SLOWLY app.</p>
<p>Sorted by stamp release date.</p>

@if (stamps == null)
{
    <p><em>Getting there...</em></p>
}
else
{
    <table class="table">
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Price</th>
                <th>Region</th>
                <th>Category</th>
                <th>Availability</th>
                <th>Title</th>
                <th>Description</th>
                <th>Rarity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stamp in stamps)
            {
                <tr>
                    <td>
                        <a href="javascript:;" title="@stamp.Slug">
                            <img src="@stamp.Url" alt="@stamp.Name" />
                        </a>
                    </td>
                    <td><img src="https://web.getslowly.com/static/media/coin.a380d373.png" height="16" alt="SLOWLY_COINS" />&nbsp;@stamp.PriceCal()</td>
                    <td></td>
                    <td></td>
                    <td style="width:15%">@stamp.Credit</td>
                    <td style="width:15%">@stamp.Name</td>
                    <td style="width:20%">@stamp.Desc</td>
                    <td><p style="color:red">@stamp.Rarity</p></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private SlowlyStampCollection.Data.Item[] stamps;

    protected override async Task OnInitializedAsync()
    {
        stamps = await StampService.GetStampAsync();
    }
}
